* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: black;
  align-items: center;
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 28px;
  border-bottom: 1px solid #eee;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  background-color: black;
  color: white;
}

.image {
  position: absolute;
  bottom: 0;
}

.hirebtn {
  width: 150px;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 3px;
}

.title {
  animation: title 2s ease-in-out;
}

@keyframes title {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);

    opacity: 1;
  }
}

.subtitle {
  animation-delay: 4s;
  animation: subtitle 2s ease-in-out;
  letter-spacing: 10px;
}

@keyframes subtitle {
  from {
    transform: translateY(-10px);
    opacity: 0;
    letter-spacing: 0px;
  }

  to {
    transform: translateY(0px);
    letter-spacing: 10px;
    opacity: 1;
  }
}

.hirebtn:hover {
  width: 150px;
  margin-top: 20px;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 3px;
}

.about {
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.abme {
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 5px;
}

.skills {
  height: 100vh;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.lara {
  width: 260px;
  margin-top: 30px;
}

.help {
  height: 100vh;
  background-color: white;
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: black;
  color: white;
}

ul li {

  list-style-type: none;
  padding: 10px;
}